@{
    ViewData["Title"] = "Home Page";
}

<div class="background-overlay">
    <div class="text-center">
        <h1 class="display-4 text-white">Welcome</h1>
        <p class="text-light">
            Learn about <a href="https://learn.microsoft.com/aspnet/core" class="text-warning">building Web apps with ASP.NET Core</a>.
        </p>
    </div>
</div>
